/* addvideo.css */

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .card {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(234, 111, 111, 0.1);
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .form-select {
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  