.edit-video-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    text-align: center;
    color: #ed101b;
    font-weight: bold;
  }
  
  .dl {
    margin-bottom: 20px;
  }
  
  .dt {
    font-weight: bold;
    color: #495057;
  }
  
  .form-control {
    width: 100%;
  }
  
  .mt-4 {
    text-align: center;
  }
  
  .btn {
    min-width: 100px;
  }
  